* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    height: 100%
}

.logo img{
    height: 100px;
}

.logo h1{
    color: #1ed760;
}

#navbar ul li a{
    font-weight: 500;
}

#carouselExampleIndicators {
    height: 500px;
}
.carousel-inner .carousel-item img {
    max-height: 500px;
    /* Đặt độ cao tối đa cho ảnh */
    width: auto;
    /* Để tự động tính toán chiều rộng dựa trên độ cao */
}

.song img{
    height: 200px;
    width: 100%;
    margin: 0 auto;
}

.footer {
    border-top: 2px solid;
}

.card {
    height: 400px;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 10px;
    top: -45px;
}

.social_icon i{
    font-size: 40px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}